@model BookReview.Domain.Models.Author

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebImage photo = null;
    var imageName = "";
    var imagePath = "";
    photo = WebImage.GetImageFromRequest();

    if(IsPost)
    {
        imageName = Path.GetFileName(photo.FileName);
        imagePath = "~/Images/ImageOfAuthors/" + imagePath;
        photo.Save(imagePath);
    }
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Створення Автора</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Vote, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        <label id="PathToImage" class="control-label col-md-2" />
        <div class="col-md-10">
            @Html.Hidden("PathToImage", "~/Images/ImagesOfAuthors/" + Path.GetFileName(WebImage.GetImageFromRequest().FileName))
            @Html.ValidationMessageFor(model => model.PathToImage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AboutOfAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AboutOfAuthor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AboutOfAuthor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"/>
        <div class="col-md-10">
            @foreach (var item in ViewBag.Genre)
            {
                <input id="ListOfGenre" value="@item"/>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
